body {
    background-image: url(../background.jpg);
    background-position-y: center;
}

.container {
    background-color: rgb(21, 24, 27);
    width: 50%;
}

header {
    background-color: #ff440d;
    padding: 10px;
}

label {
    font-weight: normal !important;
}

input[type="text"]{
    width: 100px;
    height: 40px;
}

button {
    background-color: #fb3900;
    color: white;
    font: 400 25px Arial;
    padding: 7px 38px;
    border-width: 2px;
    border-style: none;
    border-radius: 25px;
}