body {
    background-image: url(../background.jpg);
    background-position-y: center;
}

.container {
    background-color: rgb(21, 24, 27);
}

header {
    background-color: #ff440d;
    padding: 10px;
}

input[type="text"]{
    width: 100px;
    height: 40px;
    text-align: center;
}

.allInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #fb3900;
    color: white;
    font: 400 25px Arial;
    padding: 7px 38px;
    border-width: 2px;
    border-style: none;
    border-radius: 25px;
}

@media screen and (min-width: 992px) {
    .container {
        background-color: rgb(21, 24, 27);
        width: 50%;
    }
}