body {
    background-image: url(../background.jpg);
    background-position-y: center;
}

.container {
    background-color: #00193c;
    width: 50%;
}

header {
    background-color: #5e2e92;
    color: #73dd3f;
}

input[type="text"]{
    width: 100px;
    height: 40px;
}
#resultado {
    background-color: #002e6d;
    border-radius: 10px;
}

button {
    background-color: #c50e39;
    color: white;
    font: 400 25px Arial;
    padding: 7px 38px;
    border-width: 2px;
    border-style: none;
    border-radius: 25px;
}